# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/

tartget/

**/build/

*.iml
*.ipr
*.iws
**/.idea/

# Misc
*.log
*.log*
**/out
target/generated-sources/annotations/org/tsystems/tschool/mapper/ArticleDtoMapperImpl.java
target/generated-sources/annotations/org/tsystems/tschool/mapper/ArticleDtoMapperImpl.java
target/generated-sources/annotations/org/tsystems/tschool/mapper/CartDtoMapperImpl.java
target/generated-sources/annotations/org/tsystems/tschool/mapper/AddressDtoMapperImpl.java
target/generated-sources/annotations/org/tsystems/tschool/mapper/ArticleDtoMapperImpl.java
target/generated-sources/annotations/org/tsystems/tschool/mapper/CatalogArticleDtoMapperImpl.java
target/generated-sources/annotations/org/tsystems/tschool/mapper/CategoryDtoMapperImpl.java
target/generated-sources/annotations/org/tsystems/tschool/mapper/OrderDtoMapperImpl.java
target/generated-sources/annotations/org/tsystems/tschool/mapper/UserDtoMapperImpl.java
target/TSchool/META-INF/MANIFEST.MF
target/TSchool/WEB-INF/views/user/cart.html
target/generated-sources/annotations/org/tsystems/tschool/mapper/CartDtoMapperImpl.java
target/generated-sources/annotations/org/tsystems/tschool/mapper/AddressDtoMapperImpl.java
target/generated-sources/annotations/org/tsystems/tschool/mapper/ArticleDtoMapperImpl.java
target/generated-sources/annotations/org/tsystems/tschool/mapper/CatalogArticleDtoMapperImpl.java
target/generated-sources/annotations/org/tsystems/tschool/mapper/CategoryDtoMapperImpl.java
target/generated-sources/annotations/org/tsystems/tschool/mapper/OrderDtoMapperImpl.java
target/generated-sources/annotations/org/tsystems/tschool/mapper/UserDtoMapperImpl.java
target/TSchool/META-INF/MANIFEST.MF
target/TSchool/WEB-INF/views/user/cart.html
