<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<body>
<div th:fragment="navigation">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/catalog">WebMarket</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav justify-content-center">
                <li th:if="${#httpServletRequest.isUserInRole('EMPLOYEE')}" class="nav-item">
                    <a href="/articles" class="nav-link">Articles list</a>
                </li>
                <li th:if="${#httpServletRequest.isUserInRole('EMPLOYEE')}" class="nav-item">
                    <a href="/articles/add-article-page" class="nav-link"> Add Article</a>
                </li>
                <li th:if="${#httpServletRequest.isUserInRole('EMPLOYEE')}" class="nav-item">
                    <a href="/categories" class="nav-link"> Categories List</a>
                </li>
                <li th:if="${#httpServletRequest.isUserInRole('EMPLOYEE')}" class="nav-item">
                    <a href="/categories/add-category-page" class="nav-link"> Add Category</a>
                </li>
                <li th:if="${#httpServletRequest.isUserInRole('EMPLOYEE')}" class="nav-item">
                    <a href="/orders" class="nav-link"> All Orders List</a>
                </li>
                <li th:if="${#httpServletRequest.isUserInRole('EMPLOYEE')}" class="nav-item">
                    <a href="/articles/rating" class="nav-link"> Top 10 Articles</a>
                </li>
                <li th:if="${#httpServletRequest.isUserInRole('CLIENT')}" class="nav-item">
                    <a href="/user" class="nav-link"> Edit Profile</a>
                </li>
                <li th:if="${#httpServletRequest.isUserInRole('CLIENT')}" class="nav-item">
                    <a href="/user/orders" class="nav-link"> My Orders</a>
                </li>
                 <li class="nav-item">
                <a href="/cart" class="nav-link"> Cart</a>
                 </li>
                <li class="nav-item">
                    <a href="/catalog" class="nav-link">Catalog</a>
                </li>
                <li class="nav-item">
                    <a href="/login" class="nav-link"> Login</a>
                </li>
                <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('CLIENT')}" >
                    <a href="/logout" class="nav-link"> Logout</a>
                </li>
                <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('EMPLOYEE')}" >
                    <a href="/logout" class="nav-link"> Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>