<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html><html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<a href="/articles" class="btn btn-primary">Articles list</a>
<a href="/orders" class="btn btn-primary">Orders list</a>
<p class="my-5">
    <a href="/articles/add-article-page" class="btn btn-primary"><i
            class="fas fa-user-plus ml-2"> Add Article</i></a>
</p>
<a href="/categories" class="btn btn-primary">Categories list</a>
<p class="my-5">
    <a href="/categories/add-category-page" class="btn btn-primary"><i
            class="fas fa-user-plus ml-2"> Add Category</i></a>
</p>
</body>
</html>
