<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Information</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div th:insert="header/header :: navigation"></div>
<div class="container my-5">
    <h3> User Information</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-8">
                <form action="#" th:action="@{/user/update/{username}(username=${user.username})}" th:object="${user}"
                      method="post"
                      modelAttribute="user">
                    <input type="hidden" th:value="${user.id}" name="id"/>
                    <input type="hidden" th:value="${user.email}" name="email"/>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="username" class="col-form-label">Name</label>
                            <input type="text" th:field="*{username}" disabled required class="form-control"
                                   id="username" placeholder="Name"> <span th:if="${#fields.hasErrors('username')}"
                                                                           th:errors="*{username}"
                                                                           class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email" class="col-form-label">Email</label>
                            <input type="email" th:field="*{email}" disabled required class="form-control" id="email"
                                   placeholder="Email"> <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                                              class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastName" class="col-form-label">Last Name</label>
                            <input type="text" th:field="*{lastName}" required class="form-control" id="lastName"
                                   placeholder="LastName"> <span th:if="${#fields.hasErrors('lastName')}"
                                                                 th:errors="*{lastName}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="birthday" class="col-form-label">Date of birth</label>
                            <input type="date" th:field="*{birthday}" th:value="*{birthday}" oninput="validDate()"
                                   required class="form-control" id="birthday"> <span
                                th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"
                                class="text-danger"></span>
                        </div>
                        <hr/>
                        <div class="form-group col-md-6">
                            <h2>Address information: </h2>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="country" class="col-form-label">Country</label>
                            <input type="text" th:field="*{addressDto.country}" maxlength="30" class="form-control"
                                   id="country" placeholder="Country">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="city" class="col-form-label">City</label>
                            <input type="text" th:field="*{addressDto.city}" maxlength="30" class="form-control"
                                   id="city" placeholder="City">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="postalCode" class="col-form-label">PostalCode</label>
                            <input type="number" th:field="*{addressDto.postalCode}" max="1000000" class="form-control"
                                   id="postalCode" placeholder="PostalCode">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="street" class="col-form-label">Street</label>
                            <input type="text" th:field="*{addressDto.street}" maxlength="30" class="form-control"
                                   id="street" placeholder="Street">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="house" class="col-form-label">House</label>
                            <input type="text" th:field="*{addressDto.house}" maxlength="30" class="form-control"
                                   id="house" placeholder="House">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="flat" class="col-form-label">Flat</label>
                            <input type="number" th:field="*{addressDto.flat}" max="100000" class="form-control"
                                   id="flat" placeholder="Flat">
                        </div>

                        <div class="form-group col-md-8">
                            <input type="submit" class="btn btn-primary" value="Edit Profile">
                        </div>
                    </div>
                </form>
            </div>
            <form th:action="@{/user/update/password}" method="post">
                <input type="text" required minlength="4" maxlength="20" th:name="password" class="form-control"/>
                <input type="submit" class="btn btn-primary" value="Change Password">
            </form>
        </div>
    </div>
</div>
</body>
</html>

<script>
    function getTodaysDate() {
        date = new Date();
        day = date.getDate();
        month = date.getMonth() + 1;
        year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        today = year + "-" + month + "-" + day;

        return today;
    }

    document.getElementById('birthday').setAttribute('max', getTodaysDate());
</script>